**/.DS_Store
**/.env
**/node_modules

/.fusion
/coverage
/resources/dist
/documentation/artifacts/GettingStartedDBDump.tar.gz

/data/db/
/data/dumps/**
!/data/dumps/.gitkeep
/data/restore/**
!/data/restore/.gitkeep

/dist
