
@font-face {
    font-family:"OutputSans Thin Italic";
    src:url("Output Thin Italic.woff2") format("woff2"),url("Output Thin Italic.woff") format("woff"),url("Output Thin Italic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        