
@font-face {
    font-family:"OutputSans Light Italic";
    src:url("Output Light Italic.woff2") format("woff2"),url("Output Light Italic.woff") format("woff"),url("Output Light Italic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        