
@font-face {
    font-family:"OutputSans ExLight Regular";
    src:url("Output Extra Light.woff2") format("woff2"),url("Output Extra Light.woff") format("woff"),url("Output Extra Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        