// Declare any font faces that will be only used on this site.

@font-face {
  font-family: "Merriweather";
  font-weight: 400;
  src: url("./../../../../resources/fonts/merriweather/Merriweather-Regular.woff")
    format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("./../../../../resources/fonts/montserrat/Montserrat-Regular.woff")
    format("woff");
}
