
@font-face {
    font-family:"OutputSans Light Regular";
    src:url("Output Light.woff2") format("woff2"),url("Output Light.woff") format("woff"),url("Output Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        