/* stylelint-disable */
.font_default {
  font-family: arial;
}

.font_primary {
  font-family: "EB Garamond";
}

.font_secondary {
  font-family: "Open Sans";
}

.font_tertiary {
  font-family: Helvetica, sans-serif;
}

.font_quaternary {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.font_quinary {
  font-family: "Roboto";
}
