/* stylelint-disable */
.masthead {
  border-bottom: 1px solid #a4a3a3;
}

.hamburger {
  position: relative;
  display: inline-block;
  width: 1.25em;
  height: 0.8em;
  margin-right: 0.3em;
  border-top: 0.2em solid #cbcbcb;
  border-bottom: 0.2em solid #cbcbcb;

  &:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    border-top: 0.2em solid #cbcbcb;
  }

  .label {
    margin: -3px 0 0 20px;
  }
}

.side_menu {
  position: absolute;
  top: 75px;
  left: -300px;
  display: block;
  background-color: #2d3e4a;
  width: 300px;
  text-align: left;
  z-index: 9;
  opacity: 0.97;
  transition: all 1.5s;
  height: 100%;
  ul {
    padding-inline-start: 0;
    margin-bottom: 12px;
    margin-left: 12px;
    list-style: decimal;
    .item {
      padding-top: 8px;
      font-size: 17px;
      color: white;
      opacity: .7;
      margin-left: 25px;
      &:hover {
        opacity: 1;
      }
    }
    .key {
      color: #f28b5f;
    }
  }
  .header {
    display: inline-block;
    width: 100%;
    background-color: #172026;
    padding: 4px 0 0 0;
    margin-bottom: 14px;
  }
  .content {
    height: 80vh;
    overflow-y: scroll;
    display: inline-block;
  }
  .title {
    line-height: 38px;
    position: absolute;
    margin-left: 10px;
    color: white;
    font-size: 24px;
  }
  &.slide_closed {
    transform: translateX(-300px);
  }
  &.slide_open {
    transform: translateX(300px);
  }
}
